@theme {
   --font-mono: 'Inconsolata', 'Inconsolata Fallback';
   --font-serif: 'EB Garamond', 'EB Garamond Fallback', georgia, 'Times New Roman', serif;
   --font-sans: 'Be Vietnam Pro', 'Be Vietnam Pro Fallback', ui-sans-serif, system-ui, sans-serif;
}

@theme {
   --leading-tight: 1.25;
   --leading-snug: 1.375;
   --leading-normal: 1.5;
   --leading-relaxed: 1.625;
   --leading-loose: 2;
}

@theme {
   --tracking-tighter: -0.05em;
   --tracking-tight: -0.025em;
   --tracking-normal: 0em;
   --tracking-wide: 0.025em;
   --tracking-wider: 0.05em;
   --tracking-widest: 0.1em;
}
