@import 'tailwindcss';
@import './colors.css';
@import './fonts.css';
@import '@nuxt/ui';

@plugin "@tailwindcss/typography";

:root {
   --ui-header-height: --spacing(12);
}

:root {
   --ui-bg: var(--color-neutral-50);
   --ui-bg-muted: var(--color-neutral-100);
   --ui-bg-elevated: var(--color-neutral-200);
   --ui-bg-accented: var(--color-neutral-300);
   --ui-bg-inverted: var(--color-neutral-900);
}

.dark {
   --ui-bg: var(--color-neutral-100);
   --ui-bg-muted: var(--color-neutral-200);
   --ui-bg-elevated: var(--color-neutral-300);
   --ui-bg-accented: var(--color-neutral-500);
   --ui-bg-inverted: var(--color-neutral-900);
}
